<div class="jumbo">
  <h2>About Pixels n' Rentals</h2>
  <div class="right"><img src="/assets/images/renthome.jpg" /></div>
  <p>
    Pixels n' Rentals is an Ember app locally developed by Justin Phillips as part of the <a href="https://pixelsnprojects.com" target="_blank">Pixels n' Projects</a> portfolio.</p>
    <p>In addition, this site is built using Handlebars.js and utilizes Leaflet's' API for location maps.</p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>

{{outlet}}