<div class="menu">
    <div class="container content-container">
      {{#link-to "index"}}
      <h1>
        <em>Pixels n' Rentals</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
    </div>
    </div>
  </div>
<div class="container">
  <div class="body">
    {{outlet}}
  </div>
</div>
<div class="footer">
  <div class="container content-container">
    Created in Ember by <a href="https://pixelsnprojects.com">Pixels n' Projects</a>
  </div>
</div>