<div class="jumbo main-banner">
  <div class="jumbo-inner">
    <h2>Welcome!</h2>
  <p>Please take a look around, we're here to help you find your forever home!</p>
  {{#link-to "about" class="button"}}
    About Us
  {{/link-to}}
  </div>
</div>

{{outlet}}